/***reset***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* vertical-align: baseline; */
    background: transparent;
}
/*******************/
body {
    background: #ffffff;
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif, Tahoma;
    color: #333;
    -webkit-text-size-adjust: none;
}

#product-list {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 95%;
    max-width: 800px;
    margin-top: 10px;
    border: 1px solid #d5d5d5;
    margin: 0 auto;
}

#product-list .product_bar {
    width: 100%;
    height: 35px;
    background-color: #F2F2F2;
    border-bottom:solid 1px #d5d5d5;
    }

.fr {
    float: right;
    line-height: 23px;
    height: 23px;
    margin-top: 5px;
}

.fl{
    float: left;
    line-height: 23px;
    height: 23px;
    margin-top: 5px;
}
.sort_btn{
    float: left;
    background: #fff;
    border:solid 1px #d5d5d5;
    margin-right: 5px;
    padding-left: 5px;
    color: #A9A9A9;
}

.sort_btn.active{
    color: rgb(238, 151, 47);
    margin-left: 10px;
}

 #product-list .sort_btn.active i {
    display: block;
    background: url(images/sort_bg.png)no-repeat;
    background-position: 0px -11px;
    height: 11px;
    width: 9px;
    /* margin-top: 6px; */
    float: right;
    /* margin-left: 5px;
    margin-right: 5px; */
    margin: 6px 5px 0px;
}

#product-list .sort_btn i {
    display: block;
    background: url(images/sort_bg.png)no-repeat;
    background-position: 0px 0px;
    height: 11px;
    width: 9px;
    /* margin-top: 6px; */
    float: right;
    /* margin-left: 5px; */
    margin: 6px 5px 0px;
}
.product_bar_info{
    color: #A9A9A9;
    font-weight: bold;   
}
.product_bar_info span{
    color: rgb(238, 151, 47);
}
.pre,.next{
    background: #fff;
    padding: 5px;
    border: solid 1px #d5d5d5;
}
.next{
    color: grey;
    text-decoration: none;
}
.wholesale{
    width: 90px;
}
.currency_sign,.currency_price{
    color: rgb(238, 151, 47);
}

.retail_price{
    float: right;
    text-decoration: line-through;
    color: #898585;
}

.retail_price .currency_sign,.retail_price .currency_price{
    color: inherit;

}

.top_flag{
    background: url(images/tags.png)no-repeat;
    background-position: 0px -417px;
    width: 63px;
    height: 62px;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
}
.product{
    flex: 1 0 164px;
    position: relative;
    margin: 10px 10px 0px;
}

.discount_off{
    background:url(images/cut.png) no-repeat;
    height: 54px;
    width: 54px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: impact;
}
/********************* Estilos para poner las estrellas de valoración**********************/
.starts span {
    display: block;
    width: 0;
    height: 12px;
    background-position: 0 0;
    text-indent: -9999px;
}
.starts, .starts span, .starts i {
    background: url(./images/star.png) no-repeat;
}
.starts {
    display: inline-block;
    width: 55px;
    height: 12px;
    overflow: hidden;
    margin: 1px 0 0;
    background-position: 0 -22px;
    text-align: left;
    vertical-align: text-top;
}
/********************************************************************************************/







/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { 
    .fl {
    
    }
    #product-list .sort_btn {
    
    }
    #product-list .product_bar {
    
    }
    #product-list .product_bar_info {
    
    }
    .fr {
     
    }
    .pagination {
    
   }
}

@media all and (max-width: 480px) {
    .fl {
        
    }
    #product-list .sort_btn {
        
    }
    #product-list .product_bar {
        
    }
    #product-list .product_bar_info {
        
    }
    .fr {
        f 
    }
    .pagination {
   }
   #product-list .product {
      
    }
    #product-list .product .pro_classes {
        
    }
    #product-list .product .cover_img img{
        
    }
    
 }


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}